body{
    margin: 0px;
    font-family: 'Poppins', sans-serif;
    font-family: 'Yeseva One', cursive;
}

h1{
    font-size: 55px;
    font-family: sans-serif;
    font-weight: 700;
}

.orange{
    color: orange;
}

.mission-heading{
    border-left: 5px solid orangered;
    border-image-slice: 1;
    border-radius: 3px;
    font-family: 'Yeseva One', cursive;
    padding: 5px 15px;
}

.link-button{
    text-decoration: none;
    background: #FF5959;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
}

.half-width{
    width: 50%;
    text-align: justify;
    padding: 25px;
}

.half-width img{
    width: 100%;
    padding-left: 50px;
}
.text{
    margin-top: 150px;
    font-family: sans-serif;
    padding-top: 25px;
    text-align: left;
}
.spaced-para{
    margin-top: 30px;
}

section{
    margin-left: 100px;
    padding-bottom: 100px;
    margin-right: 100px;
}

.first-sec{
    display: flex;
}

.centered-heading{
    text-align: center;
}

.second-sec-boxes{
    width: 375px;
    font-family: sans-serif;
    padding: 25px;
    border-radius: 20px;
    text-align: justify;
}

.second-sec img{
    width: 50%;
}
.all-box{
    display: flex;
    justify-content: space-between;
}

#box-one{
    background: #4F9DA61A;
    ;
}
#box-two{
    background: #FF59591A;
}
#box-three{
    background: #FFF4D6;
}
.third-sec-div{
    font-family: sans-serif;
    display: flex;
    text-align: left;
    height: 500px;
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 20%;
}
.third-sec-div img{
    width: 80%;
}
.side-text{
    margin-right: 240px;
}
footer{
    height: 150px;
    background-color: black;
}
footer h2{
    color: whitesmoke;
    font-family: 'Yeseva One', cursive;
}
footer p{
    color: whitesmoke;
}