body{
    margin: 0px;
    font-family: 'Poppins', sans-serif;
    font-family: 'Yeseva One', cursive;
}

h1{
    font-size: 55px;
    padding: 5px 15px;
    font-family: sans-serif;
    font-weight: 700;
}

.orange{
    color: orange;
}

.mission-heading{
    border-left: 5px solid orangered;
    border-image-slice: 1;
    border-radius: 3px;
    font-family: 'Yeseva One', cursive;
}

.link-button{
    text-decoration: none;
    background: #FF5959;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
}

section{
    margin-left: 150px;
    display: flex;
    padding-bottom: 150px;
}

.half-width{
    width: 45%;
    text-align: justify;
    padding: 25px;
}

.half-width img{
    width: 80%;
}
.text{
    margin-top: 150px;
    font-family: sans-serif;
    padding-top: 25px;
    text-align: justify;
}
.spaced-para{
    margin-top: 30px;
}

.centered-heading{
    text-align: center;
}

.second-sec-boxes{
    width: 250px;
    font-family: sans-serif;
    border: 1px solid gray;
    padding-left: 15px;
}

.second-sec img{
    width: 100%;
}
.all-box{
    display: flex;    
}